name: build, scan and push ACR

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  security-events: write

env:
  IMAGE_NAME: capston-frontend-image
  IMAGE_TAG: v1
  ACR_NAME: rk8sacr
  ACR_LOGIN_SERVER: rk8sacr.azurecr.io

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login (via OIDC)
      uses: Azure/login@v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Log in to ACR
      run: az acr login --name $ACR_NAME

    - name: Build Docker Image
      run: docker build -t $IMAGE_NAME:$IMAGE_TAG .

    - name: Save Image Locally as TAR for Scanning
      run: docker save $IMAGE_NAME:$IMAGE_TAG -o image.tar

    outputs:
      image-tar: image.tar

  trivy-scan:
    name: Scan Image using Trivy
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y wget
        wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.49.1_Linux-64bit.deb
        sudo dpkg -i trivy_0.49.1_Linux-64bit.deb

    - name: Load Docker Image for Scan
      run: docker load -i image.tar

    - name: Run Trivy Scan
      run: trivy image --exit-code 1 --severity HIGH,CRITICAL $IMAGE_NAME:$IMAGE_TAG
      continue-on-error: true
  manual-approval:
    name: Push to ACR (with manual approval)
    runs-on: self-hosted
    needs: trivy-scan
    environment:        
      name: prod-approval    

  push:
    name: Push Image to ACR
    runs-on: ubuntu-latest
    needs: manual-approval

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login (via OIDC)
      uses: Azure/login@v2.3.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Log in to ACR
      run: az acr login --name $ACR_NAME

    - name: Tag Docker Image for ACR
      run: docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

    - name: Push Docker Image to ACR
      run: docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

  
